<div id="contents">
  <h2>admin login</h2>
  <div id="login_form">
    <form method="post" action="admin/login">
      <div>password: <input type="password" name="password"></div>
      <input type="submit" value="login">
    </form>
  </div>
</div>
