<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Refresh" content="5;URL=../challenge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title></title>
</head>
<body>
  <div id="contents">
    <h2>you got it !!!!1234</h2>
    <a href="../challenge">back to challenges</a>
  </div>
<div id="footer"><%= footer_contents%></div>
</body>
</html>
