<div id="contents">
  <h2>login</h2>
  <div id="login_form">
    <form method="post" action="login">
      <div>email: <input id="email" type="text" name="email"></div>
      <div>password: <input id="password" type="password" name="password"></div>
      <input type="submit" value="login">
    </form>
  </div>
  <div id="register">
    <a href="signup">sign up</a>
  </div>
  <div class="mini_announcements">
    <h2>announcements</h2>
    <div class="mini_announcements_body">
      <%@announcements.each do |a|%>
        <div class="mini_announcement_entry">
          <span class="mini_announcement_time"><%=h a.time.strftime("%Y-%m-%d %H:%M")%></span>
          <span class="mini_announcement_subject"><%=h a.subject%></span>
        </div>      
      <%end%> 
    </div>
  </div>
</div>
