<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Refresh" content="5;URL=./">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title></title>
</head>
<body>
  <div id="contents">
    <h2>sign up finished.</h2>
    <div> please login from start page...</div>
    <div>(please use this <a href="./">direct link</a>, if not redirect...)</div>
  </div>
<div id="footer"><%= footer_contents%></div>
</body>
</html>
