<div id="contents">
  <h2>sign up</h2>
  <div id="signup">
    <form method="post" action="signup2">
      <div>name:  <input type="text" name="name"></div>
      <div>email: <input type="text" name="email"></div>
      <div>password: <input type="password" name="password"></div>
      <div>password(confirm): <input type="password" name="password2"></div>
      <input type="submit" value="signup">
    </form>
  </div>
</div>
